.body {
  color: #434455;
  background-color: var(--back-color);
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
.root {
  --back-color: #ffffff;
  --primary-font: Roboto, sans-serif;
  --link-font: Raleway;
  --logo-color: #4d5ae5;
  --cool-studio: #2e2f42;
}

.logo-link {
  font-family: var(--primary-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  color: var(--logo-color);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}

.studio {
  font-family: var(--primary-font);
  font-weight: 800;
  font-size: 18px;
  color: var(--cool-studio);
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.link-nav {
  font-family: var(--link-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.link {
  text-decoration: none;
}

.nav .link:hover {
  color: #434455;
}
.nav .link:focus {
  color: #2e2f42;
}
.nav .link:active {
  color: #4d5ae5;
}

.button {
  color: #ffffff;
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
}

.button:hover {
  background-color: #404bbf;
}

.button:focus {
  background-color: #404bbf;
}
.section {
  background-color: var(--cool-studio);
}

.page-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.list {
  list-style-type: none;
}

.text {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.link-mail {
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.link-tel {
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--cool-studio);
}
.footer {
  background-color: var(--cool-studio);
}
